<div class="page-width page-content login">
  <header class="section-header">
    <h1 class="section-header__title">My Account</h1>
  </header>
  <div class="inner">
    <div class="right">
      <h2>{{ 'customer.login.title' | t }}</h2>
      <div class="inner">

        <header class="">
          <h1>Returning Customer?</h1>
        </header>
        <p>We have safely moved your account over to our new site, however you will need to re-activate it here by creating a new password</p>
  
        <p><a class="btn" href="#" id="mySizeChart">Re-activate</a></p>
        <br>
  
  
    <div class="note note--success hide" id="ResetSuccess">
      {{ 'customer.recover_password.success' | t }}
    </div>
  
    <div id="CustomerLoginForm" class="form-vertical">
      {%- form 'customer_login' -%}
  
        {{ form.errors | default_errors }}
  
        <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
        <input type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>
  
        {%- if form.password_needed -%}
          <div class="grid">
            <div class="grid__item one-half">
              <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
            </div>
            <div class="grid__item one-half text-right">
              <small class="label-info">
                <a href="#recover" id="RecoverPassword">
                  {{ 'customer.login.forgot_password' | t }}
                </a>
              </small>
            </div>
          </div>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
        {%- endif -%}
  
        <p style="text-align:left;">
          <button type="submit" class="btn">
            {{ 'customer.login.sign_in' | t }}
          </button>
        </p>
        <!--<p>{{ 'layout.customer.create_account' | t | customer_register_link }}</p>-->
  
      {%- endform -%}
    </div>
  
    <div id="RecoverPasswordForm" class="hide">
      <div class="form-vertical">
        <h2>{{ 'customer.recover_password.title' | t }}</h2>
        <p>{{ 'customer.recover_password.subtext' | t }}</p>
  
        {%- form 'recover_customer_password' -%}
  
          {{ form.errors | default_errors }}
  
          {%- if form.posted_successfully? -%}
            <span class="hide reset-password-success"></span>
          {%- endif -%}
  
          <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
          <input type="email" value="" name="email" id="RecoverEmail" class="input-full" autocorrect="off" autocapitalize="off">
  
          <p>
            <button type="submit" class="btn">
              {{ 'customer.recover_password.submit' | t }}
            </button>
          </p>
          <button type="button" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</button>
        {%- endform -%}
      </div>
  
    </div>
  
    {%- if shop.checkout.guest_login -%}
      <hr class="hr--clear">
  
      <h1>{{ 'customer.login.guest_title' | t }}</h1>
      <hr class="hr--small">
  
      {%- form 'guest_login' -%}
        <button type="submit" class="btn">
          {{ 'customer.login.guest_continue' | t }}
        </button>
      {%- endform -%}
    {%- endif -%}
      </div>
    </div>
    <div class="left">
       <h2>{{ 'customer.register.title' | t }}</h2>
      <div class="inner">
       <div class="form-vertical">
         
        {%- form 'create_customer' -%}
    
          {{ form.errors | default_errors }}
    
          <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
          <input type="text" name="customer[first_name]" id="FirstName" class="input-full"{% if form.first_name %} value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
    
          <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
          <input type="text" name="customer[last_name]" id="LastName" class="input-full"{% if form.last_name %} value="{{ form.last_name }}"{% endif %} autocapitalize="words">
    
          <label for="Email">{{ 'customer.register.email' | t }}</label>
          <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}"{% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
    
          <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
          <input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
    
          <p style="margin-bottom:0px; text-align:left;">
            <button type="submit" class="btn">Register</button>
          </p>
    
        {%- endform -%}
       </div>
      </div>
      
    </div>
  </div>
</div>
