<!--popup modal-->
        <div id="mySizeChartModal" class="ebcf_modal">
          <div class="ebcf_modal-content">
            <span class="ebcf_close">&times;</span>
            <h3>Enter Your Email to Activate</h3>
            <br />
            <div class="input-group newsletter__input-group">
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Enter your email" name="contact[email]" id="activation_email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
              
              <div class="input-group-btn">
                <button type="submit" class="btn btn-activation-email" name="commit">
                  <span class="form__submit--large">Activate</span>
                  <span class="form__submit--small">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-arrow-right" viewBox="0 0 50 15"><path d="M0 9.63V5.38h35V0l15 7.5L35 15V9.63z"></path></svg>
                  </span>
                </button>
              </div>
            </div>
            <p class="activation-email-error" style="color: red;"></p>
          </div>
        </div>

<div class="page-width page-content login">
  <header class="section-header">
    <h1 class="section-header__title">My Account</h1>
  </header>
  <div class="inner">
    <div class="right">
      <h2>{{ 'customer.login.title' | t }}</h2>
      <div class="inner">

        <header class="">
          <h1>Returning Customer?</h1>
        </header>
        <p>Don't have an account? Create one to join the Ride or Dyes to earn points & redeem rewards.</p>
  
        <p><a class="btn" href="#" id="mySizeChart">Re-activate</a></p>
        <br>
  
  
    <div class="note note--success hide" id="ResetSuccess">
      {{ 'customer.recover_password.success' | t }}
    </div>
  
    <div id="CustomerLoginForm" class="form-vertical">
      {%- form 'customer_login' -%}
  
        {{ form.errors | default_errors }}
  
        <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
        <input type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>
  
        {%- if form.password_needed -%}
          <div class="grid">
            <div class="grid__item one-half">
              <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
            </div>
            <div class="grid__item one-half text-right">
              <small class="label-info">
                <a href="#recover" id="RecoverPassword">
                  {{ 'customer.login.forgot_password' | t }}
                </a>
              </small>
            </div>
          </div>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
        {%- endif -%}
  
        <p style="text-align:left;">
          <button type="submit" class="btn">
            {{ 'customer.login.sign_in' | t }}
          </button>
        </p>
        <!--<p>{{ 'layout.customer.create_account' | t | customer_register_link }}</p>-->
  
      {%- endform -%}
    </div>
  
    <div id="RecoverPasswordForm" class="hide">
      <div class="form-vertical">
        <h2>{{ 'customer.recover_password.title' | t }}</h2>
        <p>{{ 'customer.recover_password.subtext' | t }}</p>
  
        {%- form 'recover_customer_password' -%}
  
          {{ form.errors | default_errors }}
  
          {%- if form.posted_successfully? -%}
            <span class="hide reset-password-success"></span>
          {%- endif -%}
  
          <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
          <input type="email" value="" name="email" id="RecoverEmail" class="input-full" autocorrect="off" autocapitalize="off">
  
          <p>
            <button type="submit" class="btn">
              {{ 'customer.recover_password.submit' | t }}
            </button>
          </p>
          <button type="button" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</button>
        {%- endform -%}
      </div>
  
    </div>
  
    {%- if shop.checkout.guest_login -%}
      <hr class="hr--clear">
  
      <h1>{{ 'customer.login.guest_title' | t }}</h1>
      <hr class="hr--small">
  
      {%- form 'guest_login' -%}
        <button type="submit" class="btn">
          {{ 'customer.login.guest_continue' | t }}
        </button>
      {%- endform -%}
    {%- endif -%}
      </div>
    </div>
    <div class="left">
       <h2>{{ 'customer.register.title' | t }}</h2>
      <div class="inner">
       <div class="form-vertical">
         
        {%- form 'create_customer' -%}
    
          {{ form.errors | default_errors }}
    
          <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
          <input type="text" name="customer[first_name]" id="FirstName" class="input-full"{% if form.first_name %} value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
    
          <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
          <input type="text" name="customer[last_name]" id="LastName" class="input-full"{% if form.last_name %} value="{{ form.last_name }}"{% endif %} autocapitalize="words">
    
          <label for="Email">{{ 'customer.register.email' | t }}</label>
          <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}"{% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
    
          <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
          <input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
    
          <p style="margin-bottom:0px; text-align:left;">
            <button type="submit" class="btn">Register</button>
          </p>
    
        {%- endform -%}
       </div>
      </div>
      
    </div>
  </div>
</div>
<style>
  .ebcf_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.ebcf_modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
}

/* The Close Button */
.ebcf_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.ebcf_close:hover,
.ebcf_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
<script>
  // Get the modal
var ebModal = document.getElementById('mySizeChartModal');

// Get the button that opens the modal
var ebBtn = document.getElementById("mySizeChart");

// Get the <span> element that closes the modal
var ebSpan = document.getElementsByClassName("ebcf_close")[0];

// When the user clicks the button, open the modal 
ebBtn.onclick = function() {
    ebModal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
ebSpan.onclick = function() {
    ebModal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == ebModal) {
        ebModal.style.display = "none";
    }
}
</script>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
  <script>
      $(document).ready(function () {
          $('.btn-activation-email').click(function () {
              var email = $('#activation_email').val();
              if (email && email !== '') {
                $('.activation-email-error').text('');
                  fetch('https://gdy.contracollective.com/activation-email?email=' + email)
                      .then(function (response) {
                          return response.json()
                      })
                      .then(function (data) {
                          if (data.activationData) {
                            window.location.href = data.activationData.account_activation_url;
                          }
                          if (data.message) {
                            $('.activation-email-error').text(data.message);
                          }
                      })
                      .catch(function (err){
                          console.log('Error:', err);
                      } )
                  // $.ajax({
                  //     url: 'http://142.93.4.226:3000/activation-email?email=' + email,
                  //     success: function (data) {
                  //         console.log('Success:', data);
                  //     },
                  //     error: function (xhr, status, error) {
                  //         console.log('Error:', error)
                  //     }
                  // });
              } else {
                $('.activation-email-error').text('Please type email at first.');
              }
              
          })
      })
  </script>