<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
<head>

  {% render 'gtm-head' %}

  
  <script>
/* >> TriplePixel :: start*/
~function(W,H,A,L,E,_){function O(T,R){void 0===R&&(R=!1),H=new XMLHttpRequest,H.open("GET","//triplewhale-pixel.web.app/triplepx.txt?"+~(Date.now()/9e7),!0),H.send(null),H.onreadystatechange=function(){4===H.readyState&&200===H.status?setTimeout(function(){return eval(H.responseText)},50):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(T-1))}}if(L=window,!L[H+"sn"]){L[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),W.includes("⇈")&&A.setItem(H+"Stg",1+(0|A.getItem(H+"Stg")||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}A.getItem('"!nC`')||(A=L,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return W=L(),(E._q=E._q||[]).push([W,t,e]),E._headless=!0,W},E.ch=W,O(5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>
<!-- Reddit Pixel -->
<script>
!function(w,d){if(!w.rdt){var p=w.rdt=function(){p.sendEvent?p.sendEvent.apply(p,arguments):p.callQueue.push(arguments)};p.callQueue=[];var t=d.createElement("script");t.src="https://www.redditstatic.com/ads/pixel.js",t.async=!0;var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(t,s)}}(window,document);rdt('init','t2_tuk10gxc', {"optOut":false,"useDecimalCurrencyValues":true,"email":"<EMAIL-HERE>"});rdt('track', 'PageVisit');
</script>
<!-- DO NOT MODIFY UNLESS TO REPLACE A USER IDENTIFIER -->
<!-- End Reddit Pixel -->
  
<meta name="msvalidate.01" content="CAFCA955F2960FEFF1E3C33CEE5DAE86" />

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="preconnect" href="https://fonts.shopifycdn.com">
  <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.gstatic.com">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- render 'seo-title' -%}

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- render 'social-meta-tags' -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {%- render 'font-face' -%}
  <link rel="stylesheet" href="https://use.typekit.net/gkn5hxk.css">
  <style>

    :root{
      --colorBtnPrimary:{{ settings.color_button | default: "#000" }};
      --colorBtnPrimaryLight:{{ settings.color_button | default: "#000" | color_lighten: 10 }};
      --colorBtnPrimaryDim:{{ settings.color_button | default: "#000" | color_darken: 5 }};
      --colorBtnPrimaryText:{{ settings.color_button_text | default: "#fff" }};
      --colorCartDot:{{ settings.color_cart_dot | default: "#ff4f33" }};
    
      --colorLink:{{ settings.color_body_text | default: "#1c1d1d" }};
    
      --colorTextBody:{{ settings.color_body_text | default: "#1c1d1d" }};
      --colorPrice:{{ settings.color_price | default: "#1c1d1d" }};
      --colorTextSavings:{{ settings.color_savings_text | default: "#1c1d1d" }};
      --colorSaleTag:{{ settings.color_sale_tag | default: "#1c1d1d" }};
      --colorSaleTagText:{{ settings.color_sale_tag_text | default: "#ffffff" }};
    
      --colorBody:{{ settings.color_body_bg | default: "#fff" }};
      --colorBodyDim:{{ settings.color_body_bg | default: "#1c1d1d" | color_darken: 5 }};
    
      --colorFooter:{{ settings.color_footer | default: "#111" }};
      --colorFooterText:{{ settings.color_footer_text | default: "#fff" }};
    
      --colorBorder:{{ settings.color_borders | default: "#1c1d1d" }};
    
      --colorNav:{{ settings.color_header | default: "#fff" }};
      --colorNavText:{{ settings.color_header_text | default: "#000" }};
      --colorAnnouncement:{{ settings.color_announcement | default: "#1c1d1d" }};
      --colorAnnouncementText:{{ settings.color_announcement_text | default: "#fff" }};
    
      --colorHeroText:{{ settings.color_image_text | default: "#fff" }};
    
      --colorModalBg:{{ settings.color_modal_overlays | default: "#000" }};
    
      --colorImageOverlay:{{ settings.color_image_overlay | default: "#000" }};
      --colorImageOverlayOpacity:{{ settings.color_image_overlay_opacity | divided_by: 100.0 }};
      --colorImageOverlayTextShadow:{{ settings.color_image_overlay_text_shadow | divided_by: 100.0 }};
    
      --colorSmallImageBg:{{ settings.color_small_image_bg | default: "#eee" }};
      --colorLargeImageBg:{{ settings.color_large_image_bg | default: "#1c1d1d" }};
      --colorGridOverlay:{{ settings.collection_grid_tint | default: "#000" }};
      --colorGridOverlayOpacity:0.1;
    
      --colorDrawers:{{ settings.color_drawer_background | default: "#1c1d1d" }};
      --colorDrawersDim:{{ settings.color_drawer_background | default: "#1c1d1d" | color_darken: 5 }};
      --colorDrawerBorder:{{ settings.color_drawer_border | default: "#343535" }};
      --colorDrawerText:{{ settings.color_drawer_text | default: "#fff" }};
      --colorDrawerTextDark:{{ settings.color_drawer_text | default: "#fff" | color_darken: 15 }};
      --colorDrawerButton:{{ settings.color_drawer_button | default: "#a26b25" }};
      --colorDrawerButtonText:{{ settings.color_drawer_button_text | default: "#fff" }};
    
      --grid-gutter:17px;
      --drawer-gutter:20px;
      --color-body-text:{{ settings.color_body_text | default: "#1c1d1d" }};
      --color-body:{{ settings.color_body_bg | default: "#fff" }};
      --color-bg:{{ settings.color_body_bg | default: "#fff" }};
    }
  </style>
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'custom.css' | asset_url | stylesheet_tag }}
  {%- render 'css-variables' -%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.routes = {
      home: "{{ routes.root_url }}",
      cart: "{{ routes.cart_url | append: '.js' }}",
      cartPage: "{{ routes.cart_url }}",
      cartAdd: "{{ routes.cart_add_url | append: '.js' }}",
      cartChange: "{{ routes.cart_change_url | append: '.js' }}",
      search: "{{ routes.search_url }}"
    };
    theme.strings = {
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      inStockLabel: {{ 'products.product.in_stock_label' | t | json }},
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
      savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }},
      searchCollections: {{ 'general.search.collections' | t | json }},
      searchPages: {{ 'general.search.pages' | t | json }},
      searchArticles: {{ 'general.search.articles' | t | json }}
    };
    theme.settings = {
      dynamicVariantsEnable: true,
      cartType: {{ settings.cart_type | json }},
      isCustomerTemplate: {% if request.page_type contains 'customers/' %}true{% else %}false{% endif %},
      moneyFormat: {{ shop.money_format | json }},
      saveType: {{ settings.product_save_type | json }},
      productImageSize: {{ settings.product_grid_image_size | json }},
      productImageCover: {{ settings.product_grid_image_fill }},
      predictiveSearch: {{ settings.predictive_search_enabled }},
      predictiveSearchType: {{ settings.search_type | json }},
      quickView: {{ settings.quick_shop_enable }},
      themeName: 'Impulse',
      themeVersion: "5.3.0"
    };
  </script>

  {{ content_for_header }}

  <script src="{{ 'vendor-scripts-v10.js' | asset_url }}" defer="defer"></script>

  {%- if shop.enabled_currencies.size > 1 -%}
    <link rel="preload" as="style" href="{{ 'currency-flags.css' | asset_url | split: '?' | first }}" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="{{ 'currency-flags.css' | asset_url | split: '?' | first }}">
  {%- endif -%}

  <!-- Begin Include Custom Style CSS -->
  {{ 'common.css' | asset_url | stylesheet_tag }}
  {{ 'section_style.css' | asset_url | stylesheet_tag }}
  
  {% if template == "page.lookbook" %}
  {% endif %}
  <!-- End Include Custom Style CSS -->
  
  <script src="{{ 'theme2.js' | asset_url }}" defer="defer"></script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
  


{%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
{%- assign time_now = 'now' | date: '%s' %}
{%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
{%- assign diffSeconds = time_now | minus: yotpo_live_time %}
{%- if yotpo_offload_content == 'yes' and diffSeconds < 86400 -%}
{{ 'yotpo-full-css.css' | asset_url | stylesheet_tag }}
{%- endif -%}

  
<script type="text/javascript">
(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/krTtDN2LrqYG9ei5gFQ1NnOrTlIpNShUWIldnVQt/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
</script>
  

  <!-- Global site tag (gtag.js) - Google Ads: 707883200 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-707883200"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-707883200');
</script>

<!-- Swiper JS -->
<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
<!-- Link Swiper's CSS -->
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
</head>

<body id="{{ page.handle }}-page-template" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %}" data-center-text="{{ settings.type_body_align_text }}" data-button_style="{{ settings.button_style }}" data-type_header_capitalize="{{ settings.type_header_capitalize }}" data-type_headers_align_text="{{ settings.type_headers_align_text }}" data-type_product_capitalize="{{ settings.type_product_capitalize }}" data-swatch_style="{{ settings.swatch_style }}" {% if settings.disable_animations %}data-disable-animations="true"{% endif %}>

  {% render 'gtm-body-end' %}

  
  
  
  <script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} {% if product.first_available_variant.price %}window.KlarnaThemeGlobals.data_purchase_amount = {{ product.first_available_variant.price }};{% endif %}window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>





  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {%- section 'header' -%}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      </main>

      {%- section 'footer-promotions' -%}
      {%- section 'footer' -%}

    </div>
  </div>

  {%- section 'newsletter-popup' -%}

  {%- liquid
    render 'video-modal'
    render 'photoswipe-template'
  -%}
  <script> (function(){ var s = document.createElement('script'); var h = document.querySelector('head') || document.body; s.src = 'https://acsbapp.com/apps/app/dist/js/app.js'; s.async = true; s.onload = function(){ acsbJS.init({ statementLink : '', footerHtml : '', hideMobile : false, hideTrigger : false, disableBgProcess : false, language : 'en', position : 'right', leadColor : '#146FF8', triggerColor : '#146FF8', triggerRadius : '50%', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerIcon : 'people', triggerSize : 'bottom', triggerOffsetX : 20, triggerOffsetY : 20, mobile : { triggerSize : 'small', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerOffsetX : 20, triggerOffsetY : 20, triggerRadius : '20' } }); }; h.appendChild(s); })(); </script>

{% if template contains 'product' %}
<script>
var atcButtonID = "add";

var atcButton = document.getElementById(atcButtonID);
if(atcButton){
	atcButton.addEventListener("click", function(event) {
            rdt('track', 'AddToCart')
	});
}
</script>
{% endif %}

<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script>
    var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "PUBLIC_API_KEY",
      platform: "shopify"
    });
    klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Notify Me When Available",
      product_page_class: "btn",
      product_page_text_align: "center",
      product_page_margin: "0px",
      replace_anchor: false
    },
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#fff",
     button_background_color: "#439fdb",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"
    }
  });
</script>
  
</body>
</html>
