{% style %}
    #shopify-section-{{section.id}} .section-header__title {
        margin-bottom: 30px;
    }
    #shopify-section-{{section.id}} .divide {
        width: 100%;
        height: 15px;
        background: linear-gradient(90deg, rgb(218, 27, 109) 0%, 4.6091%, rgb(217, 44, 73) 9.2182%, 12.0187%, rgb(220, 75, 56) 14.8191%, 18.203%, rgb(225, 119, 43) 21.5869%, 27.1879%, rgb(242, 194, 28) 32.7888%, 39.2065%, rgb(247, 237, 33) 45.6243%, 49.4749%, rgb(244, 236, 45) 53.3256%, 57.0012%, rgb(224, 229, 86) 60.6768%, 63.3022%, rgb(187, 214, 134) 65.9277%, 67.3279%, rgb(164, 205, 153) 68.7281%, 70.8868%, rgb(124, 189, 181) 73.0455%, 75.3209%, rgb(80, 174, 199) 77.5963%, 79.0548%, rgb(59, 164, 206) 80.5134%, 83.5473%, rgb(54, 140, 202) 86.5811%, 93.2905%, rgb(101, 103, 175) 100%);
        margin: 50px 0px;
    }
    #shopify-section-{{section.id}} .image {
        max-height: 600px;
        height: 600px;
        margin: 50px 0px 25px 0px;
    }
    #shopify-section-{{section.id}} img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #shopify-section-{{section.id}} .tags-wrapper {
        display: flex;
        gap: 10px;
        margin-bottom: 40px;
        flex-wrap: wrap;
    }
    #shopify-section-{{section.id}} .tags-wrapper .article-tags {
        border-radius: 30px;
        background-color: #656565;
        padding: 5px 20px;
        color: #fff;
    }
    #shopify-section-{{section.id}} .tags-wrapper .article-tags a {
        font-size: 21px;
        color: #ffffff;
        font-family: "Integral CF";
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    #shopify-section-{{section.id}} .dot {
        width: 17px;
        height: 17px;
        background: white;
        border-radius: 50%;
        margin-right: 6px;
    }
{% endstyle %}

<div class="article-wrapper index-section">
    <div class="page-width">
        {% if article.tags.size > 0 %}
            <div class="tags-wrapper">
                {%- for tag in article.tags -%}
                    <div class="article-tags">
                        {% if tag contains "_" %}{%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_" %}{% if tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{% endif %}{% endif %}
                        <a href="{{ blog.url }}/tagged/{{ tag | handle }}"><div class="dot"></div> {{ tag }}</a>
                    </div>
                {%- endfor -%}
            </div>
        {%- endif -%}

        <article class="article-header">
            {% if article.title != blank %}
                <h1 class="section-header__title">{{ article.title }}</h1>
            {% endif %}
            <div class="article__body rte">
                <div class="enlarge-text">
                    {{ article.excerpt }}
                </div>
            </div>
        </article>
        <div class="divide"></div>
        <div class="article-content">
            {%- if article.image != blank -%}
                <div class="image">
                    <img src="{{ article.image | image_url: width: 2000 }}">
                </div>
            {%- endif -%}
            <div class="rte">
                <div class="enlarge-text">
                    {%- if article.content != blank -%}
                        {{ article.content }}
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</div>