<div class="banner-header page-width">
  {% if section.settings.align_text == 'top' %}
    {% if section.settings.headline != blank %}
      <h1 class="headline">{{ section.settings.headline }}</h1>
    {% endif %}
  {% endif %}
  <div class="inner">

    {% if section.settings.image_main != blank %}
      <div class="img-left">
          <img src="{{ section.settings.image_main | image_url: width: 1000 }}" alt="{{ section.settings.image_main.alt }}" />
      </div>
    {% endif %}

    {% if section.settings.image_right != blank or section.settings.btn_text != blank %}
      <div class="img-right">
        {% if section.settings.image_right != blank %}
        <img src="{{ section.settings.image_right | image_url: width: 800 }}" alt="{{ section.settings.image_right.alt }}" />
        {% endif %}
        {% if section.settings.btn_text != blank %}
        <a href="{{ section.settings.btn_link }}" class="btn btn--full {% if section.settings.btn_inverse %}btn--inverse-dark-outline{% endif %}">
          {{ section.settings.btn_text }}
        </a>
        {% endif %}

      </div>
    {% endif %}
  </div>
  {% if section.settings.align_text == 'bottom' %}
    {% if section.settings.headline != blank %}
      <h1 class="headline">{{ section.settings.headline }}</h1>
    {% endif %}
  {% endif %}
</div>


{% schema %}
  {
    "name": "Banner Header",
    "class": "index-section",
    "settings": [
          {
            "type": "text",
            "id": "headline",
            "label": "Headline",
            "default":"Headline"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "top",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image_main",
            "label": "Main Image"
          },
          {
            "type": "image_picker",
            "id": "image_right",
            "label": "Right Image"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "Button text",
            "info": "Optional"
          },
          {
            "type": "url",
            "id": "btn_link",
            "label": "Button link",
            "info": "Optional"
          },
          {
            "type": "checkbox",
            "id": "btn_inverse",
            "label": "Inverse button style?",
            "default": false
          }
    ],/*
    "blocks": [
      {
        "type": "color-selector",
        "name": "Products",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Choose Product"
          },
          {
            "type": "image_picker",
            "id": "override-image",
            "label": "Image override (optional)"
          }
        ]
      }
    ],*/
    "presets": [{
      "name": "Banner Header"
    }]
  }
{% endschema %}

