{% style %}
#shopify-section-{{section.id}} .button-wrap a.btn {
  background: #fff;
  border: solid 2px #000;
  color: #000;
}
#shopify-section-{{section.id}} .button-wrap a.btn:hover {
  background: #000;
  color: #fff;
}
#shopify-section-{{section.id}} .text-wrapper {
  margin-top: 30px;
}
{% endstyle %}

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">
  {%- if section.settings.title != blank -%}
    <div class="section-header">
      <h2 class="{{ section.settings.text_align }} {{ section.settings.font_size }}">{{ section.settings.title }}</h2>
    </div>
  {%- endif -%}
  <div class="video-wrapper">
    {%- if section.settings.video_url == blank -%}
      <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
    {%- else -%}
      {%- if section.settings.video_url.type == "youtube" -%}
        <iframe src="//www.youtube.com/embed/{{ section.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
      {%- endif -%}
      {%- if section.settings.video_url.type == "vimeo" -%}
        <iframe src="//player.vimeo.com/video/{{ section.settings.video_url.id }}?color={{ settings.color_button | remove: "#" }}&byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
      {%- endif -%}
    {%- endif -%}
  </div>
  <div class="text-wrapper">
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {%- if block.settings.title != blank -%}<h2>{{ block.settings.title | escape }}</h2>{%- endif -%}
        <div class="rte">
            <div class="enlarge-text">
              {%- if block.settings.text != blank -%}
                {{ block.settings.text }}
              {%- endif -%}
            </div>
        </div>
        <div class="button-wrap rte">
          {%- if block.settings.button_text != blank -%}
            <a href="{{ section.settings.video_url }}" target="_blank" class="btn">{{ block.settings.button_text }}</a>
          {%- endif -%}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
  {
    "name": "Video",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "font_size",
        "options": [
            {
                "value": "font-large",
                "label": "Large"
            },
            {
                "value": "font-medium",
                "label": "Medium"
            },
            {
                "value": "font-small",
                "label": "Small"
            }
        ],
        "label": "Font size",
        "default": "font-medium"
      },
      {
        "type": "select",
        "id": "text_align",
        "options": [
            {
              "value": "align-left",
              "label": "Left"
            },
            {
              "value": "align-center",
              "label": "Center"
            },
            {
              "value": "align-right",
              "label": "Right"
            }
        ],
        "label": "Text align",
        "default": "align-center"
      },
      {
        "type": "video_url",
        "id": "video_url",
        "label": "Video link",
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "accept": ["youtube", "vimeo"]
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "rich-text",
        "name": "Rich text",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Text"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button label",
            "default": "Button"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Video"
      }
    ]
  }
{% endschema %}
