{%- liquid
  assign show_selectors = false
  assign currency_selector = false
  assign locale_selector = false

  if section.settings.show_currency_selector and shop.enabled_currencies.size > 1
    assign currency_selector = true
  endif

  if section.settings.show_locale_selector and shop.enabled_locales.size > 1
    assign locale_selector = true
  endif

  if currency_selector or locale_selector
    assign show_selectors = true
  endif
-%}

{%- if settings.color_footer == settings.color_body_bg -%}
  {%- style -%}
    .site-footer {
      border-top: 1px solid {{ settings.color_borders }};
    }
  {%- endstyle -%}
{%- endif -%}

<div class="page-width">
  <section class="footer-social-list page-width">
    <div class="footer-svg-wrap">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="51" viewBox="0 0 50 51" fill="none"><g clip-path="url(#clip0_893_901)">
        <path d="M2.527 3.496H47.5309V48.4613H2.527V3.496ZM0 50.9883H50V0.988281H0V50.9883Z" fill="white"></path>
        <path d="M28.2405 33.3957V34.8425C28.2753 35.2982 28.2156 35.7561 28.0651 36.1877C27.9147 36.6192 27.6767 37.015 27.3661 37.3502C27.0555 37.6855 26.679 37.953 26.2601 38.1359C25.8413 38.3188 25.3892 38.4132 24.9322 38.4132C24.4752 38.4132 24.0231 38.3188 23.6043 38.1359C23.1855 37.953 22.809 37.6855 22.4984 37.3502C22.1878 37.015 21.9498 36.6192 21.7993 36.1877C21.6488 35.7561 21.5892 35.2982 21.624 34.8425V33.3957H28.2405ZM18.9426 34.8425C18.9426 36.4336 19.5747 37.9595 20.6998 39.0846C21.8248 40.2096 23.3508 40.8417 24.9419 40.8417C26.533 40.8417 28.0589 40.2096 29.184 39.0846C30.309 37.9595 30.9411 36.4336 30.9411 34.8425V30.5215H18.9426V34.8425Z" fill="white"></path><path d="M16.3966 18.3686H14.0239V21.05H11.9213V18.8123C11.9213 18.3791 12.0066 17.9502 12.1724 17.55C12.3382 17.1498 12.5812 16.7861 12.8875 16.4798C13.1938 16.1735 13.5574 15.9305 13.9576 15.7648C14.3578 15.599 14.7867 15.5137 15.2199 15.5137C15.6531 15.5137 16.082 15.599 16.4822 15.7648C16.8825 15.9305 17.2461 16.1735 17.5524 16.4798C17.8587 16.7861 18.1017 17.1498 18.2674 17.55C18.4332 17.9502 18.5186 18.3791 18.5185 18.8123V23.9242H21.2192V18.8123C21.2692 17.9942 21.1511 17.1745 20.8722 16.4038C20.5932 15.6331 20.1592 14.9277 19.5971 14.3312C19.0349 13.7347 18.3565 13.2597 17.6037 12.9356C16.8508 12.6114 16.0396 12.445 15.2199 12.4465C14.4027 12.4475 13.5944 12.6159 12.8448 12.9414C12.0952 13.2669 11.4203 13.7427 10.8617 14.3392C10.3031 14.9357 9.87277 15.6404 9.59716 16.4098C9.32156 17.1791 9.20656 17.9968 9.25928 18.8123V23.9242H16.4352L16.3966 18.3686Z" fill="white"></path><path d="M33.4683 20.915V23.9242H36.3425V20.915C37.7026 20.5766 38.9025 19.7756 39.7366 18.6493C40.5708 17.5231 40.9871 16.1417 40.9143 14.7421V13.5269H38.2137V14.7421C38.2485 15.1978 38.1888 15.6558 38.0383 16.0873C37.8879 16.5189 37.6499 16.9146 37.3393 17.2499C37.0287 17.5851 36.6521 17.8526 36.2333 18.0355C35.8145 18.2184 35.3624 18.3129 34.9054 18.3129C34.4484 18.3129 33.9963 18.2184 33.5775 18.0355C33.1587 17.8526 32.7822 17.5851 32.4716 17.2499C32.161 16.9146 31.923 16.5189 31.7725 16.0873C31.622 15.6558 31.5624 15.1978 31.5972 14.7421V13.5269H28.8965V14.7421C28.8274 16.141 29.2452 17.5205 30.0788 18.6459C30.9123 19.7714 32.1101 20.5732 33.4683 20.915Z" fill="white"></path></g><defs><clipPath id="clip0_893_901"><rect width="50" height="50" fill="white" transform="translate(0 0.988281)"></rect></clipPath></defs>
      </svg>
    </div>
    <ul class="btn-social-list">
      <li>
        <a href="https://www.instagram.com/gooddyeyoung/">
          <svg fill="#fff" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">    <path d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z"/></svg>
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@gooddyeyoung">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="25" viewBox="0 0 21 25" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2016 0.988281V1.00846C15.2028 1.37382 15.3125 6.65565 20.9974 6.98511C20.9974 11.8988 21 6.98511 21 11.0662C20.5729 11.0908 17.2581 10.8573 15.1952 9.06339L15.1888 17.0081C15.2399 20.6057 13.1859 24.1335 9.34073 24.8445C8.26338 25.0434 7.29336 25.0659 5.66496 24.719C-3.71582 21.983 -0.59866 8.41712 8.82055 9.8689C8.82055 14.2485 8.82313 9.86768 8.82313 14.2485C4.93199 13.6903 3.63029 16.8465 4.66427 19.1064C5.60532 21.1638 9.47968 21.61 10.8311 18.7074C10.9841 18.1394 11.0606 17.4917 11.0606 16.7645V0.988281H15.2016Z" fill="white"></path>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/GoodDyeYoung">
          <svg fill="#fff" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M 44.898438 14.5 C 44.5 12.300781 42.601563 10.699219 40.398438 10.199219 C 37.101563 9.5 31 9 24.398438 9 C 17.800781 9 11.601563 9.5 8.300781 10.199219 C 6.101563 10.699219 4.199219 12.199219 3.800781 14.5 C 3.398438 17 3 20.5 3 25 C 3 29.5 3.398438 33 3.898438 35.5 C 4.300781 37.699219 6.199219 39.300781 8.398438 39.800781 C 11.898438 40.5 17.898438 41 24.5 41 C 31.101563 41 37.101563 40.5 40.601563 39.800781 C 42.800781 39.300781 44.699219 37.800781 45.101563 35.5 C 45.5 33 46 29.398438 46.101563 25 C 45.898438 20.5 45.398438 17 44.898438 14.5 Z M 19 32 L 19 18 L 31.199219 25 Z"/></svg>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/gooddyeyoung">
          <svg fill="#fff" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="30px" height="30px">    <path d="M28,6.937c-0.957,0.425-1.985,0.711-3.064,0.84c1.102-0.66,1.947-1.705,2.345-2.951c-1.03,0.611-2.172,1.055-3.388,1.295 c-0.973-1.037-2.359-1.685-3.893-1.685c-2.946,0-5.334,2.389-5.334,5.334c0,0.418,0.048,0.826,0.138,1.215 c-4.433-0.222-8.363-2.346-10.995-5.574C3.351,6.199,3.088,7.115,3.088,8.094c0,1.85,0.941,3.483,2.372,4.439 c-0.874-0.028-1.697-0.268-2.416-0.667c0,0.023,0,0.044,0,0.067c0,2.585,1.838,4.741,4.279,5.23 c-0.447,0.122-0.919,0.187-1.406,0.187c-0.343,0-0.678-0.034-1.003-0.095c0.679,2.119,2.649,3.662,4.983,3.705 c-1.825,1.431-4.125,2.284-6.625,2.284c-0.43,0-0.855-0.025-1.273-0.075c2.361,1.513,5.164,2.396,8.177,2.396 c9.812,0,15.176-8.128,15.176-15.177c0-0.231-0.005-0.461-0.015-0.69C26.38,8.945,27.285,8.006,28,6.937z"/></svg>
        </a>
      </li>
    </ul>
  </section>
  <footer class="site-footer" data-section-id="{{ section.id }}" data-section-type="footer-section">
    <div class="page-width">

      <div class="grid">
        {%- assign row_width = 0 -%}
        {%- for block in section.blocks -%}
          {%- assign row_width = row_width | plus: block.settings.container_width -%}
          {%- if row_width > 100 -%}
            <div class="footer__clear small--hide"></div>
            {%- assign row_width = row_width | minus: 100 -%}
          {%- endif -%}

          <div {{ block.shopify_attributes }} class="grid__item footer__item--{{ block.id }}" data-type="{{ block.type }}">
            {%- style -%}
              @media only screen and (min-width: 769px) and (max-width: 959px) {
                .footer__item--{{ block.id }} {
                  width: 50%;
                  padding-top: 40px;
                }
                .footer__item--{{ block.id }}:nth-child(2n + 1) {
                  clear: left;
                }
              }
              @media only screen and (min-width: 960px) {
                .footer__item--{{ block.id }} {
                  width: {{ block.settings.container_width }}%;
                }

              }
            {%- endstyle -%}

            {%- liquid
              case block.type
                when 'logo_social'
                  render 'footer-logo', block: block
                when 'custom'
                  render 'footer-custom-text', block: block
                when 'newsletter'
                  render 'footer-newsletter', block: block
                when 'menu'
                  render 'footer-menu', block: block
              endcase
            -%}
          </div>
        {%- endfor -%}
        {%- for block in section.blocks -%}
          {%- if block.type == 'logo' -%}
            <div class="grid__item medium-up--hide">
              {%- render 'footer-logo', block: block -%}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>

      {%- if show_selectors -%}
        <div class="footer__section">
          {%- render 'multi-selectors',
            locale_selector: locale_selector,
            currency_selector: currency_selector,
            show_currency_flags: section.settings.show_currency_flags
            location: 'footer'
          -%}
        </div>
      {%- endif -%}

      {%- if section.settings.show_payment_icons -%}
        {%- unless shop.enabled_payment_types == empty -%}
          <ul class="inline-list payment-icons footer__section">
            {%- for type in shop.enabled_payment_types -%}
              <li class="icon--payment">
                {{ type | payment_type_svg_tag }}
              </li>
            {%- endfor -%}
          </ul>
        {%- endunless -%}
      {%- endif -%}

      {%- if section.settings.show_copyright -%}
        <p class="footer__small-text">
          &copy; {{ 'now' | date: '%Y' }} {{ shop.name }}
          {%- if section.settings.copyright_text != blank -%}
            {{ section.settings.copyright_text }}
          {%- endif -%}
        </p>
      {%- endif -%}

    </div>
  </footer>
  <section class="footer-label page-width">
    <div class="copyright">©2022 Good Dye Young | All Rights Reserved</div>
    <div class="side-design">Site design by Luum Studio</div>
  </section>
</div>
{% schema %}
  {
    "name": "Footer",
    "max_blocks": 12,
    "settings": [
      {
        "type": "header",
        "content": "Language selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency selector",
        "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_currency_flags",
        "label": "Show currency flags",
        "default": true
      },
      {
        "type": "header",
        "content": "Additional footer content"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_copyright",
        "label": "Show copyright"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Additional copyright text"
      }
    ],
    "blocks": [
      {
        "type": "logo_social",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
          },
          {
            "type": "range",
            "id": "desktop_logo_height",
            "label": "Logo height",
            "default": 50,
            "min": 20,
            "max": 120,
            "unit": "px"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "menu",
        "name": "Navigation",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Choose a menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter and social",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading",
            "default": true
          },
          {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers)."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Sign up and save"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "info": "Optional",
            "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "custom",
        "name": "Custom text",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Custom text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Add your own custom text here.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      }
    ],
    "default": {
      "settings": {},
      "blocks": [
        {
          "type": "menu",
          "settings": {}
        },
        {
          "type": "logo_social",
          "settings": {}
        }
      ]
    }
  }
{% endschema %}
