{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}
{% style %}
    #shopify-section-{{section.id}} .border {
        width: 100%;
        background: linear-gradient(90deg, rgb(218, 27, 109) 0%, 4.6091%, rgb(217, 44, 73) 9.2182%, 12.0187%, rgb(220, 75, 56) 14.8191%, 18.203%, rgb(225, 119, 43) 21.5869%, 27.1879%, rgb(242, 194, 28) 32.7888%, 39.2065%, rgb(247, 237, 33) 45.6243%, 49.4749%, rgb(244, 236, 45) 53.3256%, 57.0012%, rgb(224, 229, 86) 60.6768%, 63.3022%, rgb(187, 214, 134) 65.9277%, 67.3279%, rgb(164, 205, 153) 68.7281%, 70.8868%, rgb(124, 189, 181) 73.0455%, 75.3209%, rgb(80, 174, 199) 77.5963%, 79.0548%, rgb(59, 164, 206) 80.5134%, 83.5473%, rgb(54, 140, 202) 86.5811%, 93.2905%, rgb(101, 103, 175) 100%);
    }
    #shopify-section-{{section.id}} .border-top {
        height: {{ section.settings.border_top }}px;
    }
    #shopify-section-{{section.id}} .border-bottom {
        height: {{ section.settings.border_bottom }}px;
    }
{% endstyle %}

<div class="text-{{ section.settings.align_text }} page-width{% if section.settings.narrow_column %} page-width--narrow{% endif %}">
    {% if section.settings.border_top != 0 %}
        <div class="border border-top"></div>
    {% endif %}
    {%- for block in section.blocks -%}
        <div class="theme-block" {{ block.shopify_attributes }}>
        {%- case block.type -%}
            {%- when 'heading' -%}
            <h2>{{ block.settings.title | escape }}</h2>
            {%- when 'page' -%}
            <div class="rte">
                {%- if block.settings.page_text != blank -%}
                {{ pages[block.settings.page_text].content }}
                {%- else -%}
                {{ 'home_page.onboarding.no_content' | t }}
                {%- endif -%}
            </div>
            {%- when 'text' -%}
            <div class="rte">
                {%- if block.settings.text != blank -%}
                {%- if block.settings.enlarge_text %}<div class="enlarge-text">{% endif -%}
                {{ block.settings.text }}
                {%- if block.settings.enlarge_text %}</div>{% endif -%}
                {%- else -%}
                {{ 'home_page.onboarding.no_content' | t }}
                {%- endif -%}
            </div>
            {%- when 'button' -%}
            <div class="rte">
                <a href="{{ block.settings.link }}" class="btn">
                {{ block.settings.link_text }}
                </a>
            </div>
        {%- endcase -%}
        </div>
    {%- endfor -%}
    {% if section.settings.border_bottom != 0 %}
        <div class="border border-bottom"></div>
    {% endif %}
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
  {
    "name": "Rich text",
    "class": "index-section",
    "settings": [
        {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "center",
            "options": [
            {
                "value": "left",
                "label": "Left"
            },
            {
                "value": "center",
                "label": "Centered"
            },
            {
                "value": "right",
                "label": "Right"
            }
            ]
        },
        {
            "type": "checkbox",
            "id": "narrow_column",
            "label": "Narrow column",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "divider",
            "label": "Show section divider",
            "default": false
        },
        {
            "type": "range",
            "id": "border_top",
            "label": "Border top",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 3,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "border_bottom",
            "label": "Border bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 3,
            "unit": "px"
        }
    ],
    "blocks" : [
      {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Rich text"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "checkbox",
            "id": "enlarge_text",
            "label": "Enlarge text",
            "default": true
          },
          {
            "id": "text",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "url",
            "id": "link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Button text",
            "default": "Button"
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "id": "page_text",
            "type": "page",
            "label": "Page"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Rich text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }]
  }
{% endschema %}
