<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

{%- liquid
  assign overlap_images = true
  if section.settings.image != blank and section.settings.image2 == blank
    assign overlap_images = false
  endif
-%}

<div class="index-section image-text slider-text">

  <div class="feature-row-wrapper">
    {%- capture image_layout -%}
      <div class="slider2">
  <div class="swiper-container2">
<div class="swiper-wrapper">
{%for block in section.blocks%}
            <div class="swiper-slide">
                <a href="{{block.settings.product.url}}">
                    <div class="img">
                        {% if block.settings.override-image != blank %}
                                <img src="{{ block.settings.override-image | img_url:"400x400", crop: 'top' }}" alt="" />
                              {% else %}
                                  {% for img in block.settings.product.images limit:1 offset:1 %}
                                    <img src="{{ img | img_url:"400x400", crop: 'top' }}" alt="">
                                  {% endfor %}
                             {% endif %}
                    </div>
                    {{block.settings.content}}
                </a>
            </div>
{%endfor%}
            
        </div>

    <!-- pagination -->
    <div class="swiper-pagination"></div>

    <!-- scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div> 
</div>
    {%- endcapture -%}

    <div class="feature-row featured-row-slider">
      {%- if section.settings.layout == 'left' -%}
        {{ image_layout }}
        <style>
          .featured-row-slider {
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        </style>
      {%- endif -%}

      <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} text-{{ section.settings.align_text }}" data-aos>
         {%- if section.settings.pretitle != blank -%}
          <div class="subheading appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.pretitle }}</div>
        {%- endif -%}
        {%- if section.settings.title != blank -%}
          <div class="h1 appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.title | escape }}</div>
        {%- endif -%}
        {%- if section.settings.subtitle != blank -%}
          <div class="subheading appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.subtitle }}</div>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</div>
        {%- endif -%}
        {%- if section.settings.button_label != blank -%}
          <div class="appear-delay{% cycle '','-1','-2','-3','-4' %}">
            <a href="{{ section.settings.button_link }}" class="btn{% if section.settings.button_style == 'secondary' %} btn--tertiary{% endif %}" {% if section.settings.button_color != blank %}style="background-color:{{ section.settings.button_color }}!important;"{% endif %}>
              {{ section.settings.button_label }}
            </a>
          </div>
        {%- endif -%}
      </div>

      {%- if section.settings.layout == 'right' -%}
        {{ image_layout }}
        <style>
          .featured-row-slider {
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        </style>
      {%- endif -%}
    </div>
  </div>

</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
  {
    "name": "Text with Slider",
    "settings": [
      {
        "type": "text",
        "id": "pretitle",
        "label": "Preheading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Button Color"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "primary",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          }
        ]
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Images on left"
          },
          {
            "value": "right",
            "label": "Images on right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "product-selector",
        "name": "Products",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Choose Product"
          },
          {
            "type": "image_picker",
            "id": "override-image",
            "label": "Image override (optional)"
          },          
          {
            "type": "richtext",
            "id": "content",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text with Slider"
      }
    ]
  }
{% endschema %}
